<main class="principal">
    <section class="container" *ngFor="let company of companies">
        <article class="card">
            <div class="card-body">
                <div class="titulo-card">
                    <h3 class="card-title"> {{company.name}} </h3>
                    <span> {{company.location}} </span>
                    <div>
                        <a routerLink="/company/{{company.id}}">Leia mais</a>                        
                    </div>
                </div>
                <p class="p-2">
                {{company.description}}
                </p>
            </div>
        </article>
    </section>
    <footer class="footer container fixed-bottom">
        <a routerLink="/create/company">
            <button class="btn btn-dark">Adicionar Empresa</button>
        </a>
    </footer>
</main>