<main>
    <form class="formulario container">
        <fieldset>
            <legend class="leg">Adicione um novo fundador na empresa Nome da Empresa</legend>

            <div class="form-group">
                <label for="">Nome do Fundador</label>
                <input type="text" name="nomeFundador" [(ngModel)]="founder.fullName" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="">Titulo do Fundador</label>
                <input type="text" name="tituloFundador"  [(ngModel)]="founder.title" class="form-control" required>
            </div>
            
            <footer class="footer">
                <button class="btn btn-dark" (click)="createFounder()">Salvar</button>
            </footer>
        </fieldset>
    </form>
</main>
