<main class="details container">
    <h1>
        Titulo grande para testes
    </h1>
    <section class="dados">
        <span>mes dia, ano</span>
        <span>Cidade, Estado</span>
        <div class="buttons">
            <button class="btn btn-dark">Editar</button>
            <button class="btn btn-dark">Deletar</button>
        </div>
    </section>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem enim deleniti adipisci possimus, nihil recusandae ea placeat quia incidunt exercitationem voluptatum reprehenderit magnam modi maiores sed architecto odit culpa necessitatibus.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus corporis facilis delectus corrupti architecto, mollitia molestiae recusandae error, voluptatem sint quam. A inventore veritatis laborum dolorum voluptas ab at id?
    </p>
    <fieldset class="fundador">
        <legend>Fundadores</legend>
        <section class="row">
            <div>
                <span>Nome fundador: </span><span>Cargo</span>
            </div>
            <div>
                <span>Nome fundador: </span><span>Cargo</span>
            </div>
        </section>
        <a routerLink="/founder/create">
            <button class="btn btn-dark">Adicionar Fundador</button>
        </a>
    </fieldset>
</main>
