<main class="details container">
    <h1>
        {{ company.name }}
    </h1>
    <section class="dados">
        <span>fundado em: {{company.foundedDate}}</span>
        <span>{{ company.location }}</span>
        <div class="buttons">
            <button class="btn btn-dark" routerLink="/update/company/{{company.id}}" >Editar</button>
            <button class="btn btn-dark" (click)="deleteCompany()">Deletar</button>
        </div>
    </section>
    <p>
        {{ company.description }}
    </p>
    <fieldset class="fundador">
        <legend>Fundadores</legend>
        <section class="row" *ngFor="let founder of company.founders">
            <div>
                <span> {{founder.fullName}} </span> - <span> {{founder.title}} </span>
            </div>
        </section>
        <a routerLink="/create/founder/{{company.id}}">
            <button class="btn btn-dark">Adicionar Fundador</button>
        </a>
    </fieldset>
</main>
